<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% block content %}

    <div class="container-md my-2">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3>How To Use</h3>
                <ol class="list-unstyled">
                    <li>Enter the path to the directory containing all the .csv CLAMS data files you wish to process.</li>
                    <li>Enter the number of hours you wish to trim from the beginning of the data and the light cycle to start in. Somewhere between 1-6 hours for most runs, or 0 if a very short run.</li>
                    <li>Enter the number of hours you wish to retain after trimming to be used for analysis.</li>
                    <li>Enter the size of the bin in hours. Must be a factor of 12. (e.g. 1, 2, 3, 4, 6, 12)</li>
                    <li>Click “Start Processing”.</li>
                    <li>Congratulations! You saved hours of menial labor! :D</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container-md my-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div id="file-droppable" class="drag-drop-area" onclick="document.getElementById('fileElem').click();">
                    <form class="my-form">
                        <p>Upload multiple .csv files from CLAMS.</p>
                        <p>Click or drag-and-drop to select files.</p>
                        <input type="file" id="fileElem" multiple accept=".csv" onchange="handleFiles(this.files)" style="display: none;">
                        <label class="button" for="fileElem"></label>
                        <div id="gallery"></div>
                    </form>
                    <div id="file-list"></div>
                    <button type="button" onclick="clearFiles(event)">Clear Files</button>
                    <button type="button" onclick="uploadFiles(event)">Upload Files</button>
                </div>

                <form method="post" enctype="multipart/form-data" class="text-center dropzone">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="#" id="downloadLink" class="btn btn-secondary disabled" tabindex="-1" aria-disabled="true">Download Zip</a>
                </form>
            </div>
        </div>
    </div>

<script>
    let dropArea = document.getElementById('file-droppable')
    let fileArray = []; // Array to store files to upload

    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false)
    })

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Identify CSRF token cookie
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function preventDefaults (e) {
        e.preventDefault()
        e.stopPropagation()
    }

    ;['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
    })

    ;['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false)
    })

    function highlight(e) {
        dropArea.classList.add('highlight')
    }

    function unhighlight(e) {
        dropArea.classList.remove('highlight')
    }

    dropArea.addEventListener('drop', handleDrop, false)

    function triggerFileInputClick() {
        document.getElementById('fileElem').click();
    }

    function handleDrop(e) {
        let dt = e.dataTransfer
        let files = dt.files

        handleFiles(files)
    }

    function handleFiles(files) {
        fileArray = [...files];
        displayFiles();
    }

    function clearFiles(e) {
        if (e) {
            e.stopPropagation();
        }
        fileArray = []; // Clear file array
        displayFiles(); // Update UI
        document.getElementById('fileElem').value = ""; // Reset file input
    }

    function displayFiles() {
        // Display list of files to be uploaded
        let fileNames = fileArray.map(file => file.name).join(', ');
        document.getElementById('file-list').textContent = fileNames;
    }

    function uploadFiles(e) {
        if (e) {
            e.preventDefault();
            e.stopPropagation();} // Prevent the default form submission and event bubbling

        let url = '{% url "upload_csv_files" %}';
        let formData = new FormData();

        // Append all files to the same FormData object
        fileArray.forEach(file => {
            formData.append('file', file);
        });

        // Make a single fetch request to upload all files
        fetch(url, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log(data); // Log the response for each request
            if (data.upload_id) {
                // Update download link with the received upload_id
                let downloadLink = document.getElementById('downloadLink');
                downloadLink.href = `/download/${data.upload_id}/`; // Construct the download URL
                downloadLink.classList.remove('disabled');
                downloadLink.setAttribute('aria-disabled', 'false');
            }
            clearFiles(); // Optionally clear files after upload
            // Start checking for zip file availability, using the uploadId returned from the server
            checkZipFile(data.upload_id);
        })
        .catch(error => console.error(error));
    }

    function checkZipFile(upload_id) {
        let url = `/check-zip/${upload_id}/`; // URL to endpoint that checks for zip file existence

        fetch(url)
        .then(response => response.json())
        .then(data => {
            if(data.exists) {
                // Enable download link if zip file exists
                let downloadLink = document.getElementById('downloadLink');
                downloadLink.classList.remove('disabled');
                downloadLink.setAttribute('href', `/download/${upload_id}/`);
                downloadLink.setAttribute('aria-disabled', 'false');
                downloadLink.textContent = 'Download Zip'; // Update button text if needed
            } else {
                // Optionally, re-check after some time
                setTimeout(() => checkZipFile(upload_id), 5000); // Check every 5 seconds
            }
        })
        .catch(error => console.error('Error:', error));
    }


</script>


{% endblock content %}

</html>
